.big-board {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 90vh;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .big-board {
    height: 100vh;
    max-height: 100%;
    width: 50%;
  }
  
}

@media screen and (min-width: 1024px) {

  .big-board {
    height: unset;
  }

}