.round {
  width: 100%;
  display: flex;
}

.round__label {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
}

.round__label-container {
  width: 20%;
}

.round__pick-container {
  width: 100%;
}